@import 'tailwindcss';
@import "flowbite/src/themes/default";

@config "../../tailwind.config.js";

@source "../../node_modules/flowbite-datepicker";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
    font-family: 'aeonik';
    src: url('../fonts/aeonik.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins.ttf');
}

@layer components {
  .datepicker-picker {
    background: #ffffff !important;
    border: 1px solid #e5e7eb !important;
    border-radius: 12px;
    zoom: .8;
  }
}